<h4>GAMEOVER</h4>

The dealer's cards are:
<%=session["dealer_cards"].keys%>
  The dealer's hand total is: <%=hand_total(session["dealer_cards"])%>
</br>
The player's cards are:
<%=session["player1_cards"].keys%>
  The player's hand total is: <%=hand_total(session["player1_cards"])%>.

<%=gameover_message(session[:game_status])%>

<form action='/game' method='get'>  
  <input type='submit' class='btn' value="Click to Play Again">
</form>